<p>stimulusの練習</p>
<%# helloコントローラをアタッチする %>
<div data-controller="hello">
  <%# jsでの操作対象にtarget名を付ける %>
  <input data-hello-target="name" type="text">
  <%# ボタン押下時に、jsのhello#greetが呼ばれる(イベントハンドラ) %>
  <button data-action="hello#greet">
  <%# cf <button data-action="click->hello#greet">という書き方もOK %>
    Greet
  </button>
  <%# jsでの操作対象にtarget名を付ける %>
  <span data-hello-target="output">
  </span>
</div>
-------------------------------------
<p>stimulusの練習 perfect RORより</p>
<!-- https://willnet.github.io/stimulus-slideshow-sample/public/ で挙動確認 -->

  <!-- slideshowコントローラをアタッチする -->
  <!-- data-index属性 -->
  <div data-controller="slideshow" data-slideshow-index="0">
    
    <%# ボタン押下時に、jsのslideshow#previousが呼ばれる(イベントハンドラ) %>
    <button data-action="slideshow#previous">←</button>
    <%# ボタン押下時に、jsのslideshow#nextが呼ばれる(イベントハンドラ) %>
    <button data-action="slideshow#next">→</button>

    <%# jsでの操作対象にtarget名を付ける %>
    <div data-slideshow-target="slide" class="slide">起</div>
    <div data-slideshow-target="slide" class="slide">承</div>
    <div data-slideshow-target="slide" class="slide">転</div>
    <div data-slideshow-target="slide" class="slide">結</div>
    <!-- cf <div data-target="slideshow.slide" class="slide">起</div> という書き方もOK -->
  </div>

<style>
  body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.slide{
  display: none;
}

.slide.slide--current{
  display: block;
}
</style>

-------------------------------------
<p>stimulusの練習 ライフサイクルコールバック</p>
<div data-lifecycle-target="example" data-controller="lifecycle">
  <button data-action="lifecycle#removeElement">削除</button>
  <button data-action="lifecycle#detachController">削除</button>
</div>
